
input {
      border: 0;
      padding: 5px;
      font-size: 12px;
      width: 200px;
     
    }

    input[type="submit"] {
      background: #20a176;
      color: white;
      width: 100px;
    }



body {
  font-family: helvetica, sans-serif;
  margin: 0 0 0 0;
  background: white;
  max-height: 300px;
 
     
}

div {
    height: 200px;
  background-size: cover;
  position: relative;
  margin: 40px 0px 0px 0px;
  border-radius: 12px;

  
}

.top{
   background: linear-gradient(bottom, rgba(213, 244, 224, 1), rgba(213, 244, 224, 0));
  background: -webkit-linear-gradient(bottom, rgba(213, 244, 224, 1), rgba(213, 244, 224, 0));
  background: -moz-linear-gradient(bottom, rgba(213, 244, 224, 1), rgba(213, 244, 224, 0));
}

h1 {
  font-family: 'Cabin Sketch', cursive;
  text-align: center;
  font-size: 50px;
  color: #aaaaaa;
  margin: 0 0 0 0;
 background: linear-gradient(bottom, rgba(213, 244, 224, 0.2), rgba(213, 244, 224, 0));
  background: -webkit-linear-gradient(bottom, rgba(213, 244, 224, 0.2), rgba(213, 244, 224, 0));
  background: -moz-linear-gradient(bottom, rgba(213, 244, 224, 0.2), rgba(213, 244, 224, 0));
}

h2 {
  text-align: center;
  color: #bbbbbb;
  margin: 0px 0 10px 0;
  font-family: 'Neucha', cursive;
  font-size: 18px;
background: rgba(213, 244, 224, 0.15);

}


p {
  color: rgba(255,255,255,1);
  background: black;
  background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  padding: 10px;
  line-height: 28px;
  text-align: justify;
  position: absolute;
  bottom: 0;
  margin: 0;
  height: 30px;
  transition: height .5s;
  -webkit-transition: height .5s;
  -moz-transition: height .5s;
  font-family: 'Neucha', cursive;

}


.info {
      text-align: center;
      min-width: 400px;
      float: top;
      position: absolute;
      top: 300px;
      margin-left: 700px;
      margin-top: 14px;
      height: 680px;
      background: linear-gradient(bottom, rgba(32, 161, 118, 0.4), rgba(0,0,0,0));
      background: -webkit-linear-gradient(bottom, rgba(32, 161, 118, 0.4), rgba(0,0,0,0));
      background: -moz-linear-gradient(bottom, rgba(32, 161, 118, 0.4), rgba(0,0,0,0));
      color: #91968d;
      padding: 10px;
}


.email{ text-align: center;
      min-width: 400px;
      float: top;
      position: absolute;
      top: 600px;
      margin-left: 840px;
      margin-top: 14px;
      height: 680px;
      color: #91968d;
      padding: 10px;
       font-family: 'Neucha', cursive;
      font-size: 18px;
    }

.form-group{  text-align: center;
      min-width: 400px;
      float: top;
      position: absolute;
      top: 700px;
      margin-left: 840px;
      margin-top: 14px;
      height: 680px;
      color: #91968d;
      padding: 10px;
      font-family: 'Neucha', cursive;
      font-size: 18px;

}

option{ font-family: 'Neucha', cursive;

}

.comment{ text-align: center;
      min-width: 400px;
      float: top;
      position: absolute;
      top: 800px;
      margin-left: 840px;
      margin-top: 14px;
      height: 680px;
      color: #91968d;
      padding: 10px;
      font-family: 'Neucha', cursive;
      font-size: 18px;
 }

 textarea{ 

  width: 400px;

 }
 
small {
  opacity: 0;
}

.show-description p {
  height: 150px;
}

.show-description small {
  opacity: 1;
}

.first{
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/a/a1/X-ray_of_arm_showing_absent_radius_and_radially_deviated_hand%2C_caused_by_Thrombocytopenia_and_Absent_Radius_syndrome.jpg");
  background-position: top;
     max-width: 700px;

}
.second{
  background-image: url("http://farm5.staticflickr.com/4135/4800749300_a952e36361_z.jpg");
  background-position: top;
       max-width: 700px;

  }

.dessert{
  background-image: url("https://www.intechopen.com/source/html/48854/media/image15.jpeg");
    background-position: top;
       max-width: 700px;
}

.navigation {
text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 24px;
  position: relative;
  background-color: #20a176;
  overflow: none;
}

.navigation li{
  margin: 0 0px;
  padding: 0 10px;
  border: 2px solid #AAA;
  background: #d7e5e1;
  display: inline-block;
  z-index: 0;
  
}


 a{
 color: #20a176;
 font-family: 'Neucha', cursive;
 text-decoration:none;

}


.menu {
text-align: center;
  list-style: none;
  margin: 0 0 -10px 0;
  padding: 0;
  line-height: 24px;
  position: relative;
  background-color: white;
  top: 1px;
  display: inline-block;
}

.menu li{
  margin: 0 0px;
  padding: 0 10px;
  border: 2px ;
  border-right-color: gray;
  background: white;
  display: inline-block;
  z-index: 0;
  
}

.menu li.selected {
  background: #d7e5e1;
  color: #000;
   z-index: 2;
 border-bottom-color: #FFF;
 border-top-color: #FFF;
 border-left-color: #FFF;
 border-right-color: #FFF;
 }

 .menu a{
 color: #20a176;
 font-size: 12px;
 font-family: 'Neucha', cursive;
 text-decoration:none;
}

.price {
  float: right;

}

@media (max-width: 500px) {
  h1 {
    font-size: 50px;
    margin-top: 20px;
    line-height: 40px;
  }
  h2 {
    font-size: 20px;
    margin: 20px 0 30px 0;
  }
  div {
    margin: 20px 12px 0 12px;
  }
  p {
    font-size: 20px;
    line-height: 24px;
  }
  small {
    font-size: 16px;
  }


